body 
{
    background: fixed url("../images/background.jpg") top left no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.menu 
{
    width: 100%;
    height: 20%;
    background-color: #0a0a0f;
    margin: 0;
}

.menu-title__image
{
    margin: 5px 0 0 5px;
    display: block;
    float: left;
}

.menu-title__header
{
    font: 32px Sans-Serif, Bookman Old Style;
    color: #fff;
    float: left;
    margin-left: 20px; 
}

.menu-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 50%;
}

.list__element
{
    font: 18px Sans-Serif, Bookman Old Style;
    color: #fff;
    float: left;
    margin: 30px 0 0 10%;
}

.menu::after
{
    display: block;
    content: '';
    clear: both;
}

.content
{
    width: 95%;
    margin: 0 auto;
    background-color: rgba(35, 36, 48, 0.85);
}

.introduction__header
{
    font: 48px Sans-Serif, Bookman Old Style;
    color: #fff;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

.introduction__story
{
    text-indent: 5%;
    float: left;
    width: 55%;
    margin: 3% 5% 0 5%;
    font: 16px Sans-Serif, Bookman Old Style;
    color: #C0C0C0;
}

.introduction__myimage
{
    width: 30%;
    margin: 3% 3% 0 0;
}

.content-introduction::after
{
    display: block;
    content: '';
    clear: both;
}

.hobbies__header
{
    font: 48px Sans-Serif, Bookman Old Style;
    color: #fff;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

#slider
{
    width: 800px;
    margin: 0 auto;
    margin-top: 100px; 
}

#viewport
{
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}

#slidewrapper
{
    position: relative;
    width: calc(100% * 5);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li
{
    margin: 0;
    padding: 0;
}

#slidewrapper li
{
    width: calc(100% / 5);
    list-style: none;
    display: inline;
    float: left;
}

.slidewrapper-image
{
    width: 100%;
}

#prev-button, #next-button
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-button:hover, #next-button:hover
{
    cursor: pointer;
}

#prev-button
{
    left: 20px;
}

#next-button
{
    right: 20px;
}

#nav-buttons {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-button {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-button:hover {
    cursor: pointer;
}