body 
{
	font-family: Bookman-Old-Style;
	font-size: 16pt;
}

header 
{
	text-align: center;
	display: block;
	background-color: #0099ff;
	position: absolute;
	top: 0;
	width: 100%;
	height: 20%;
	left: 0;
	line-height: 0.7;
}

h1 
{
	font-family: Tahoma;
	font-size: 40pt;
	color: white;
}

h2 
{
	font-size: 30pt;
	margin-top: -2%;
}

h3 
{
	line-height: 2.3;
	font-family: Tahoma;
	font-size: 30pt;
	color: white;
	display: block;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #0099ff;
	text-align: center;
}

div.Main 
{
	margin-top: 10%;
	width: 100%;
	left: 0;
}

img.MyImage 
{
	height: 70%;
	width: 25%;
	margin-left: 12%;
	margin-top: 3%;
}

div.Quote 
{
	width: 40%;
	position: relative;
	margin-left: 46%;
	margin-top: -29%;
	font-size: 30pt;
}

div.QuoteAuthor  
{
	width: 30%;
	margin-left: 66%;
	margin-top: 1%;
}

div.Introduction  
{
	width: 45%;
	position: relative;
	margin-left: 43%;
	margin-top: 1.5%;
}

div.IntoductionList  
{
	margin-left: -9%;
	margin-right: 9%;
}

div.GeneralInformation  
{
	border: solid 1px black;
}

div.Story  
{
	margin-top: 3%;
	width: 100%;
	left: 0;
}

p 
{
	width: 55%;
	margin-left: 22.5%;
	border-radius: 15px;
	padding: 0.5%;
	margin-top: -1%;
	background-color: #dfe3ee;
}

li 
{
	margin-top: 1%;
}

footer 
{
	display: block;
	background-color: #dfe3ee;
	width: 100%;
	position: absolute;
	left: 0;
	height: 6%;
	text-align: center;
	line-height: 1.7;
}

img.Logo 
{
	height: 50%;
	width: 1.6%;
}