body 
{
    background: fixed url("../images/background.jpg") top left no-repeat;
    background-size: 100%;
    margin: 0;
}

.menu 
{
    width: 100%;
    height: 20%;
    background-color: #0a0a0f;
    margin: 0;
}

.menu-title__image
{
    margin: 5px 0 0 5px;
    display: block;
    float: left;
}

.menu-title__header
{
    font: 32px Sans-Serif, Bookman Old Style;
    color: #fff;
    float: left;
    margin-left: 10px; 
}

.menu-list
{
    margin: 0;
    list-style-type: none;
}

.list__element
{
    float: left;
}

.menu::after
{
    display: block;
    content: '';
    clear: both;
}

.content
{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(35, 36, 48, 0.85);
}