{% extends "base.html.twig" %}
{% block title %}AboutMe{% endblock %}
{% block body %}
<div class="Main">
  <header>
    <h1>Немного обо мне</h1>
  </header>
  <article>
    <img class="MyImage", src="{{ asset('Images/Photo1.jpg') }}", title="Да, это я... лет так 5 назад, а то и больше", alt="Моя фотография">
    <div class="Quote">
      „Ты должен сделать добро из зла, потому что его больше не из чего сделать.“
    </div>
    <div class="QuoteAuthor">
      - Роберт Пенн Уоррен. Вся королевская рать
    </div>
    <div class="Introduction">
      <h2>Волков Павел Александрович</h2>
      <div class="IntoductionList">
        <ul class="GeneralInformation">
          <li>Дата рождения - 02.09.2002</li>
          <li>Любимый цвет - зелёный</li>
          <li>E-mail - moint.pan3@gmail.com</li>
          <li>В общем, добрый, общительный, отзывчивый человек, только временами тормоз и вообще не фотогеничен, нисколько</li>
        </ul>  
      </div>
    </div>
    <h3>Как получилось, что я оказался здесь?</h3>
    <div class="Story">
      <p>
        Всё началось, когда мне было шесть лет. Тогда, насколько помню, я впревые увидел ноутбук, даже компьютер как таковой. Конечно, пользоваться я им не умел - мне и не давали: его приносил отец для старшей сестры. Первая игра, которую я увидел, была "Герои меча и магии 5", в этом плане я, можно сказать, счастливый человек, поскольку она навсегда запала мне в душу. Через пару лет у меня появится свой компьютер, который, к несчастью, надолго не задержался - после того, как я вырвал ему 3 клавиши, он отправился в компьютерный рай, почему конкретно я не помню (ну не из-за клавиш же), но с тех пор я понял, что с техникой нужно аккуратно обращаться.
      </p>
      <p>
      	Следующий ноутбук я эксплуатировал 6 лет, после чего он был ещё в хорошем состоянии. Конечно, не всегда все программы работали корректно, из-за чего приходилось искать источники проблем - от плохих дисков, до неправильных значений в конфигах и банальной несовместимости. Именно такие вот случаи  заставляли меня всё больше погружаться в мир цифровых технологий. На это сказалась ещё и моя тяга к компьютырным играм - однажды захотелось создать свою. Больше всего в играх я гнался за красивой историей и механиками, что в 2016 году стало явлением редким. Воодушевившись историями о выстреливших инди-проектах и маленьких отечесвенных игровых компаниях, я стал изучать, что мне для такого дела нужно. Так я столкнулся с языками программирования. И желания у меня были воистину несоизмеримыми с возможностями - я купил книгу, но не по какому-нибудь "приземлённому" языку, а по C++. Никогда не забуду, как в 8 классе прямо на уроках читал первую главу, максимально пытаясь что-либо понять, считая, что это очень значимо и, в конечном итоге, меня к чему-то приведёт. Неудивительно, что книгу я так и не прочитал, но собираюсь взяться за неё снова в ближайшее время, точнее, когда время вообще появится...
      </p>
      <p>
      	Всё изменилось, когда меня привели в Политехнический лицей-интернат в 9 классе. Учебная нагрузка возрасла в разы, на самодеятельность времени не хватало, зато в моей жизни заместо C++ появился Pascal (который для начала подходил гораздо больше), HTML, CSS, JS и даже Python (больше от старшеклассников, проживавших со мной по соседству в общежитии). В итоге жизнь привела меня сюда - все понимали, что я сюда приду, именно в этот ВУЗ, что мне здесь "будет лучше". Ну, посмотрим, к чему это приведёт...
      </p>
    </div>  
  </article>
  <footer>
  	На этом всё :) 2021г. Все права как бы защищены. <a class="VKLink", href="https://vk.com/pavelvlkv"><img class="Logo", src="{{ asset('Images/VKLogo.png') }}"></a>
  </footer>
{% endblock %}