{% extends "base.html.twig" %}
{% block title %}AboutMe{% endblock %}
{% block body %}
  <header class="menu">
    <div class="menu-title">
      <img class="menu-title__image", src="{{ asset('assets/modules/about_me/components/images/menuicon.png') }}">
      <h1 class="menu-title__header">About me</h1>
    </div>
    <ul class="menu-list">
      <li class="list__element">*sample text*</li>
      <li class="list__element">*sample text*</li>
      <li class="list__element">*sample text*</li>	  	  	
    </ul>
  </header>
  <div class="content">
  	<div class="content-introduction">
      <h2 class="introduction__header">Вступление</h2>
        <p class="introduction__story">
        Всем привет, меня зовут Павел, я учусь на первом курсе Программных Систем Поволжского Государственного Технологического Университета. Я начал интересоваться программированием в восьмом классе. Я научился работать с компьютером в шесть лет, и так вышло, что тесно связал себя с игровой индустрией - я знал множество игровых компаний и движков, а так же некоторые хитрости, к которым разработчики прибегали в процессе создания своего продукта и с какими сложностями сталкивались. 
      </p>
      <p class="introduction__story">
        В итоге это всё вылилось в просмотр различных каналов с данным контентом и чтение публицистики (книг в духе "Кровь, пот и пиксели" Джейсона Шрайера). Но на то время меня лишь посетила дерзкая мысль о том, чтобы сделать что-то своё. Так началось моё погружение в программирование. Учился я поначалу по книгам, первой из которых стала "Изучаем C++ через программирование игр". Да-да, я начал с C++, ещё даже и не представляя, насколько тяжело это будет. Никогда не забуду, как в 8 классе прямо на уроках читал первую главу, ма  ксимально пытаясь что-либо понять, считая, что это очень значимо и, в конечном итоге, меня к чему-то приведёт. 
      </p>
      <p class="introduction__story">
        Но чуть позже в моей жизни появились Pascal, HTML, CSS и JS, изучение которых продолжается и сегодня. Сейчас я стараюсь участвовать в различных мероприятиях и брать на себя побольше разных активностей, так что, вполне возможно, скоро я смогу вооплотить свои мечты в реальность :)
      </p>
      <img class="introduction__myimage", src="{{ asset('assets/modules/about_me/components/images/myphoto.jpg') }}", title="Да, это я... лет так 5 назад, а то и больше", alt="Моя фотография">

    </div>
    <div class="content-hobbies">
      <h2 class="hobbies__header">Мои увлечения</h2>
      {% for theme, images in hobbies %}
      <div id="slider">
      	<div id="viewport">
      	  <ul id="slidewrapper">
            {% for image in images %}
            <li><img class="slidewrapper-image" src="{{ image }}" alt="hobby"></li>
            {% endfor%}
          </ul>
          <div class="slder-buttons">
          	<div id="prev-button"></div>
          	<div id="next-button"></div>
          	<ul id="nav-buttons">
              <li class="slide-nav-button"></li>
              <li class="slide-nav-button"></li>
              <li class="slide-nav-button"></li>
              <li class="slide-nav-button"></li>
              <li class="slide-nav-button"></li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor%}
    </div>
  </div>
{% endblock %}