#slider
{
    width: 800px;
    margin: 0 auto;
    margin-top: 100px; 
}

#viewport
{
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; 
}

#slidewrapper
{
    position: relative;
    width: calc(100% * 5);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li
{
    margin: 0;
    padding: 0;
}

#slidewrapper li
{
    width: calc(100% / 5);
    list-style: none;
    display: inline;
    float: left;
}

.slidewrapper-image
{
    width: 100%;
}

#prev-button, #next-button
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-button:hover, #next-button:hover
{
    cursor: pointer;
}

#prev-button
{
    left: 20px;
}

#next-button
{
    right: 20px;
}

#nav-buttons {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-button {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-button:hover {
    cursor: pointer;
}